@model ConcertTicketSystem.DAL.Entity.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está usted seguro de eliminar esta boleta?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntranceGate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntranceGate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar boleta" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-success">Regresar al registro</a>
    </form>
</div>
    